.splash{
    width: 100%;
    height: 100%;
    max-width: 1000px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 25% 30% 13% 10% 17%;
    grid-template-areas:
    ". . ."
    ". logo ."
    ". . ."
    "login . create"
    ". about .";
}

.splash__logo{
    grid-area: logo;
    opacity: .8;
    max-width: 500px;
    justify-self: center;
    align-self: center;
    animation: 2s ease 0s 1 fadeInEight;
    transition: 1s;
}

.splash__login{
    grid-area: login;
    opacity: .8;
    height: 100%;
    width: 100%;
    justify-self:baseline;
    animation: 2s ease 0s 1 fadeIn, 1.5s ease 0s 1 slightInFromLeft;
}

.splash__signup{
    grid-area: create;
    opacity: .8;
    height: 100%;
    width: 100%;
    animation: 2s ease 0s 1 fadeIn, 2s ease 0s 1 slightInFromRight;
}

.splash__aboutme{
    grid-area: about;
    width: 100%;
    margin-top: 13%;
    height: min-content;
    animation: 2.5s ease 0s 1 fadeIn, 2s ease 0s 1 slightInFromBottom;
    text-decoration: none;
}
/* MODAL BUTTON */
.splash__modal-button{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 200%;
    color: var(--splashButtonColor);
    transition: 1s;
}

.splash__modal-button--hidden{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 200%;
    color: var(--splashButtonColor);
    opacity: 0;
}

.splash__modal-button:hover{
    cursor: pointer;
}
