/*** Message ***/
.message{
    width: 100%;
    box-sizing: border-box;
    display: grid;
    grid-template-rows: auto;
    padding: 15px 10px;
}

.message--friend{
    grid-template-columns: 30px 1fr;
    grid-template-areas:
    "pic message";
}

.message--user{
    grid-template-columns: 1fr 30px;
    grid-template-areas:
    "message pic";

}

.message__profpic{
    grid-area: pic;
    align-self: flex-end;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    width: 100%;
}

.message__text{
    position: relative;
    grid-area: message;
    /* display: flex;
    align-items: flex-end; */
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    box-sizing: border-box;
    min-width: 50px;
    max-width: 100%;
}

.message__text-div--friend{

    padding-right: 30px;
    padding-left: 1px;
    padding-bottom: 7.5px;
    border-radius: 5px 5px 5px 0;
    color: var(--otherText);
    justify-self: start;
}

.message__text-div--user{

    padding-left: 30px;
    padding-right: 1px;
    padding-bottom: 7.5px;
    border-radius: 5px 5px 0 5px;
    color: var(--userText);
    justify-self: end;
    box-sizing: border-box;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.message__text--friend{
    padding: 3px 10px;
    border-radius: 5px 5px 5px 0;
    background-color: var(--otherMessage);
    color: var(--otherText);
    border: .5px solid var(--greyBlue);
    justify-self: start;
}

.message__text--user{
    padding: 3px 10px;
    border-radius: 5px 5px 0 5px;
    background-color: var(--userMessage);
    color: var(--userText);
    /* border: .5px solid var(--greyBlue); */
    justify-self: end;
}


/*** Options ***/
.message__options-button{
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 24px;
    width: 18px;
    top: 0px;
    left: -20px;
    background-color: var(--userMessage);
    border-radius: 5px 5px 5px 5px;
    cursor: pointer;
}

.message__options{
    position: absolute;
    height: 24px;
    width: 50px;
    top: -26px;
    left: 0;
    display: flex;
    justify-content: space-evenly;

}

.message__text-div:hover .message__options-button{
    display: flex;
}

.message__edit,
.message__delete{
    display: flex;
    height: 24px;
    width: 24px;
    background-color: var(--userMessage);
    padding: 3px 3px;
    box-sizing: border-box;
    font-size: 97%;
    border-radius: 5px 5px 5px 5px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: .5s;
}

.message__edit{
    font-size: 90%;

}


.message__delete-confirmation{
    background-color: var(--lightRed);
    transition: .5s;
}

.message__edit-icon,
.message__delete-icon,
.message__delete-icon-confirmation{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.message__input{
    width: 100% !important;
    max-height: 60px;
    min-height: 10px;
    resize: none;
    box-sizing: border-box;
    padding: 3px 10px;
    border-radius: 5px;
    border: .5px solid var(--greyBlue);
    outline: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}