/*************** RESET ***************/
/* body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
} */

/* * {
  box-sizing: border-box;
} */
textarea
p,
h1,
h2,
h3,
h4,
h5,
h6,
a,
ol,
li,
ul,
div,
span,
body,
header,
nav,
button{
  /* font-size: 1rem; */
  color: inherit;
  background-color: transparent;
  margin: 0;
  padding: 0;
  outline: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  display: block;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  /* font-weight: normal; */
}

html,
body{
    background-color: var(--background1);
    width: 100%;
    height: 100%;
}

#root{
    width: 100%;
    height:100%;
}

.main{
  width: 100%;
  height:100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.content{
  position: fixed;
  top: 65px;
  left: 0;
  right: 0;
  bottom: 0;
}

:root {
    /* Rank Colors */
    --Cardboard: rgb(205, 159, 97);
    --Iron: rgb(147, 148, 155);
    --Bronze: rgb(192, 122, 80);
    --Silver: rgb(179, 180, 186);
    --Gold: rgb(217, 190, 76);
    --Platinum: rgb(209, 209, 209);
    --Diamond: rgb(89, 219, 248);
    --Master: rgb(151, 61, 164);
    --Kami: rgb(255, 113, 1);


    /* Rank Colors */
    --deepBlue: #304EE4;
    --lightBlue: rgba(133,195,253,1);
    --lightViolet: #8368FE;
    --lightRed: rgb(255, 105, 98);

    --lightBlueFaded: rgba(133,195,253,.5);
    --pastelWhite: rgba(245, 245, 244, 1);
    --ghostWhite: rgba(238, 238, 238,1);
    --greyBlue: rgba(190, 202, 211,1);


    /* General */
    --background1: var(--ghostWhite);
    --button: var(--deepBlue);
    --faintBorder: rgba(0,0,0,.10);

    /* Modal */
    --modalBackground: rgba(0,0,0,.15);
    --modalContentBackground: white;
    --navbarButtonColor: var(--greyBlue);

    /* Splash */
    --splashButtonColor: var(--lightViolet);

    /* Home */
    --friendsListBackground: var(--ghostWhite);
    --friendsListHover: var(--lightBlueFaded);

    /* User */
    --defaultProfPicColor: var(--lightBlue);

    /* Scroll */
    --scrollBar: var(--greyBlue);

    /* Notification */
    --notificationColor: var(--lightRed)
}

/* h1 {
  font-size: 2rem;
  -webkit-text-stroke: .5px black;
} */

/*************** Animations ***************/

@keyframes fadeIn {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

@keyframes fadeInEight {
    0% {
        opacity: 0;
    }
    100% {
        opacity: .8;
    }
}

@keyframes scaleUp {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes slightInFromRight {
    0% {
      transform: translateX(20%);
    }
    100% {
      transform: translateX(0);
    }
}

@keyframes slightInFromLeft {
    0% {
      transform: translateX(-20%);
    }
    100% {
      transform: translateX(0);
    }
}

@keyframes slightInFromBottom{
    0% {
      transform: translateY(20%);
    }
    100% {
      transform: translateX(0);
    }
}