/*** Friends Page ***/
.friendspage-container{
    padding: 20px;
    /* padding-bottom: 50px; */
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    animation: 1s ease 0s 1 fadeIn;
    min-width: 1050px;
    min-height: 550px;
}

.friendspage-div{
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    border: .5px solid var(--faintBorder);
    background-color: var(--greyBlue);
}

.friendspage{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: .5px solid var(--faintBorder);
    background-color: var(--ghostWhite);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 1fr;
}

/*** Header ***/
.friendspage__header{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    border-bottom: .5px solid var(--faintBorder);
}

/*** Friends ***/
.friendspage__friends-div{
    width: 100%;
    height: 100%;
    position: relative;
    overflow-y: auto;

}

.friendspage__friends{
    position: absolute;
    display: grid;
    justify-content: center;
    /* align-content: center; */
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: minmax(100px);
    gap: 10px;
    padding: 10px;
    box-sizing: border-box;
    width: 100%;

}

/*** Friends Item ***/
.friendspage__search-item{
    width: 100%;
    column-gap: 10px;
    display: grid;
    grid-template-columns: 100px 1fr;
    grid-template-rows: 50px 50px;
    grid-template-areas:
    "pic username"
    "pic extra";
    box-sizing: border-box;
    padding: 5px;
    cursor: pointer;
    border-radius: 10px;
    animation: 1s ease 0s 1 fadeIn;
}

.friendspage__search-item:hover{
    background-color: var(--friendsListHover);
}

/* Photo */
.friendspage__search-photo{
    grid-area: pic;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 2px;
    border-radius: 10%;
    font-size: 200%;
}

.friendspage__search-photo{
    grid-area: pic;
    display: flex;
    justify-content: center;
    align-items: center;
}

.friendspage__search-username{
    grid-area: username;
    align-self: center;
    font-size: 150%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    margin-block-start: 0;
    margin-block-end: 0;
    font-weight: bold;
}

.friendspage__search-extra{
    grid-area: extra;
    display: flex;
    flex-direction: column;
    font-size: 100%;
    width: 100%;
    height: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.friendspage__search-extra p{
    margin-block-start: 0;
    margin-block-end: 0;
}

/***** SCREEN *****/
@media only screen and (max-width: 1050px) {
    .friendspage-container{
        min-width: 550px;
    }

    .friendspage__friends{
        grid-template-columns: 1fr 1fr;
    }


}