/*** Notifications ***/
.notification{
    width: 100%;
    height: 100%;
    border-radius: inherit;
    font-size: inherit;
    background-color: var(--friendsListBackground);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 125%;
    position: relative;
}

.notification__icon{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


/*** Notification List ***/
.notification__list{
    position: absolute;
    top: 45px;
    right: -20px;
    min-width: 300px;
    min-height: min-content;
    border-radius: 5px;
    background-color: whitesmoke;
    border: 1px solid var(--faintBorder);
    animation: .2s ease 0s 1 fadeIn;
    padding: 5px;
}

.notification__clear-div{
    width: 100%;
    height: 20px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid var(--faintBorder);
    cursor: initial;
}

.notification__header{
    width: min-content;
    height: 100%;
    font-size: 90%;
    color: black;
    padding: 0 10px;
    font-weight: bold;
}

.notification__clear{
    width: min-content;
    height: 100%;
    font-size: 80%;
    color: grey;
    padding: 0 10px;
    cursor: pointer;

}


/*** Notification Item ***/
.notification__list-none{
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.notification__list-item{
    display: grid;
    column-gap: 10px;
    grid-template-columns: 40px 1fr 30px;
    grid-template-rows: 20px minmax(20px, 1fr);
    grid-template-areas:
    "pic name trash"
    "pic text trash";
    box-sizing: border-box;
    padding: 5px;
    cursor: pointer;
    border-radius: 10px;
    animation: 1s ease 0s 1 fadeIn;
    text-decoration: none;
}

.notification__list-item:hover{
	background-color: var(--friendsListHover);

}

.notification__list-item-profpic{
    grid-area: pic;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.notification__list-item-name{
    grid-area: name;
    display: flex;
    align-items: center;
    font-size: 85%;
}

.notification__list-item-text{
    grid-area: text;
    display: flex;
    align-items: center;
    font-size: 70%;
}


/* Accept */
.notification__list-item-accept{
	border-radius: 3px;
    background-color: var(--button);
	color: #fff;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: bold;
	width: 100px;
	height: 35px;
    font-size: 75%;
	border-radius: 5px;
	outline: 0;
	border: none;
	transition: all 1s;
	text-align: center;
    display: flex;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}



/* Delete */
.notification__list-item-delete{
    grid-area: trash;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100%;
    width: 100%;
    height: 100%;
}