/* SEARCH */

.navbar__search {
	width: 100%;
	position: relative;
	justify-self: center;
	align-items: center;
    animation: 1s ease 0s 1 fadeIn;
	padding-left: 10px;
}

.navbar__search-background{
	position: absolute;
	top: -2px;
	bottom: -2px;
	right: -5px;
	left: 3px;
	background-color: var(--friendsListBackground);
	border-radius: 5px;
	border: 3px solid var(--faintBorder);
	width: 55px;
	z-index: -1;
	transition: .2s;
}

.navbar__search-label{
	position: absolute;
	color: var(--searchColor);
	top: 0;
	left: 10px;
	right: 0;
	bottom: 0;
	display: flex;
	align-items: center;
	transition: .3s;
	-webkit-user-select: none; /* Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
}

.navbar__search-input{
	width: 48px;
	/* border-radius: 7px; */
	outline: none;
	outline: none;
	height: 24px;
	border: none;
	background-color: transparent;
	color: var(--searchColor);
	font-size: 100%;
	transition: .2s;
}

.navbar__search-input:focus~.navbar__search-background{
	width: 100%;
	top: -10px;
	transition: .2s;
}

.navbar__search-input:focus,
.navbar__search-active{
	width: 100%;
	transition: .2s;
}


.navbar__search-input:focus~.navbar__search-label,
.navbar__search-active~.navbar__search-label{
	color: var(--searchActiveColor);
	font-size: 65%;
	transform: translateY(-15px);
	transition: .3s;
}



.navbar__search-active~.navbar__search-background{
	width: 100%;
	top: -10px;
	transition: .2s;
}

.navbar__search-list{
	position: absolute;
	top: 30px;
	left: 10px;
	min-width: 250px;
	z-index: 99;
	background-color: whitesmoke;
	flex-direction: column;
	display: none;

	border-radius: 5px;
	padding: 5px;
}

.navbar__search-items{
    animation: .2s ease 0s 1 fadeIn;
	background-color: var(--friendsListBackground);
	z-index: 98;
}

.navbar__search-input:focus~.navbar__search-list,
.navbar__search-list:hover{
	display: flex;
}
