
.friends-list{
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 250px;
    height: 30px;
    overflow-y: auto;
    border-radius: 10px;
    border: .5px solid var(--faintBorder);
    background-color: var(--friendsListBackground);
    animation: 1s ease 0s 1 fadeIn;
    transition-property: height;
    transition-duration: .4s;
    border: 1.3px solid var(--faintBorder);
    overflow-y: hidden;
    display: grid;
    grid-template-rows: 30px 1fr;
}

.friends-list--active{
    height: calc(100vh - 117.8px);
}

.friends-list--active .friends-list__list{
    opacity: 1;
    transition: 1s;
}


.friends-list__header{
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-sizing: border-box;
    font-weight: bold;
    position: relative;
}

.friends-list__header--active{
    background-color: var(--friendsListHover);
    border: 1.3px solid var(--friendsListHover);
}

.friends-list__notifications{
    position: absolute;
    width: 20px;
    height: 20px;
    font-size: 15px;
    font-weight: bold;
    top: 5px;
    left: 10px;
    border-radius: 50%;
    color: white;
    background-color: var(--notificationColor);
    display: flex;
    justify-content: center;
    align-items: center;
    animation: .2s ease 0s 1 scaleUp;
}

.friends-list__list{
    height: 100%;
    overflow-y: auto;
    opacity: 0;
    transition: .4s;
    padding: 5px 10px;
    border-top: 1px solid var(--faintBorder);
    padding-bottom: 5px;
    box-sizing: border-box;
}