/*** User ***/
.user{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 250px 500px;
    grid-template-rows: 250px 300px;
    grid-template-areas:
    "pic info"
    "stats stats";
}

/* Photo */
.user__profile-photo{
    grid-area: pic;
    width: 100%;
    height: 100%;
    border-radius: 25px;
    font-size: 400%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    box-sizing: border-box;
    position: relative;
}


.user__profile-photo-button{
    position: absolute;
	text-align: center;
    left: 50%;
    bottom: 16px;
    transform: translateX(-50%);
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: bold;
    font-size: 20%;
	color: #fff;
    background-color: var(--button);
    padding: 6px;
	border-radius: 5px;
	border: none;
	outline: 0;
    display: block;
    max-width: 50%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Info */
.user__info-container{
    grid-area: info;
    width: 100%;
    height: 100%;
    padding: 5px;
    box-sizing: border-box;
    position: relative;
}

.user__info{
    grid-area: info;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    width: 100%;
    height: 100%;
    border-radius: 25px;
    background-color: var(--friendsListBackground);
    padding: 10px;
    box-sizing: border-box;
}

.user__info-name{
    display: grid;
    grid-template-columns: auto auto;
    width: 100%;
    column-gap: 10px;
}

.user__info-firstname{
    box-sizing: border-box;
}

.user__info-lastname{
    box-sizing: border-box;
}

.user__info-divs{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 5px;
}

.user__info-labels{
    color: rgba(0,0,0,.35);
    font-size: 75%;
}

.user__info-inputs-div{
    position: relative;
}

.user__info-inputs{
    width: 100%;
	height: 35px;
	border-radius: 5px;
	outline: 0;
	border: 1px solid #cccccc;
    padding: 0 5px;
    display: flex;
    align-items: center;
    color: grey;
    font-size: 100%;
    box-sizing: border-box;
}

.user__info-inputs--success{
    position: absolute;
    top: 8px;
    right: 20px;
    width: 10px;
    height: 10px;
    font-size: 20px;
    color: green;
}

.user__info-text{
	height: 35px;
	border-radius: 5px;
	outline: 0;
	border: 1px solid #cccccc;
    padding: 0 5px;
    display: flex;
    align-items: center;
    color: grey;
    font-size: 100%;
}


.user__info-button{
	border-radius: 3px;
    background-color: var(--button);
	color: #fff;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: bold;
	line-height: 21px;
	width: 100%;
	height: 40px;
	border-radius: 5px;
	outline: 0;
	border: none;
	transition: all 1s;
	text-align: center;
    display: flex;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user__info-button--disabled{
	border-radius: 3px;
    background-color: grey;
	color: #fff;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: bold;
	line-height: 21px;
	width: 100%;
	height: 40px;
	border-radius: 5px;
	outline: 0;
	border: none;
	transition: all 1s;
	text-align: center;
    display: flex;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#sentRequest{
    cursor: not-allowed;
}

.user__info-buttons-div{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.user__info-buttons{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.user_info-icon{
    margin-right: 10px;
    font-size: 120%;
}

/* Errors */
.user__profile-errors{
    position: absolute;
    bottom: -15px;
    left: 125px;
    border: 3px solid var(--lightRed);
    background-color: lightsalmon;
    border-radius: 5px;
    color: darkred;
    animation: 1s ease 0s 1 fadeIn;
    z-index: 94;
    display: flex;
    justify-content: flex-start;
}

.user__profile-errors-arrow{
    position: absolute;
    top: -12px;
    left: 0px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid var(--lightRed);
}


/* Stats */
.user__stats{
    grid-area: stats;
    padding: 5px;
}

.user__stats-none{
    background-color: var(--friendsListBackground);
    height: 100%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}