/* NAVBAR */
.navbar{
    display: grid;
    grid-template-columns: 250px 1fr 250px;
    grid-template-rows: 64px;
    width: 100%;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 98;
}

/* SEARCH */
.navbar__search-div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
	margin-left: 15px;
    /* border: 1px solid rgba(0,0,0,.15);
    border-radius: 12px;
    background-color: white; */
}


/* LOGO */
.navbar__logo-div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.navbar__logo-link{
    height: 100%;
    width: 150px;
    position: relative;
    animation: 1s ease 0s 1 fadeIn;
}

.navbar__logo{
    width: 100%;
    height: 90px;
    position: absolute;
}


/* LINKS */
.navbar__links-div{
    display: flex;
    justify-content: flex-end;
    align-items: center;
	margin-right: 15px;
    animation: 1s ease 0s 1 fadeIn;
    /* border: 1px solid rgba(0,0,0,.15);
    border-radius: 12px;
    background-color: white; */
}