/* NAVBAR */
.navbar{
    display: grid;
    grid-template-columns: 275px 1fr 275px;
    grid-template-rows: 64px;
    max-width: 1600px;
    min-width: 850;
    margin: auto;
    width: 100%;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 98;
}

/* SEARCH */
.navbar__search-div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
	margin-left: 20px;
    /* border: 1px solid rgba(0,0,0,.15);
    border-radius: 12px;
    background-color: white; */
}


/* LOGO */
.navbar__logo-div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.navbar__logo-link{
    height: 100%;
    width: 150px;
    position: relative;
    animation: 1s ease 0s 1 fadeIn;
}

.navbar__logo{
    width: 100%;
    height: 90px;
    position: absolute;
}


/* LINKS */
.navbar__links-div{
    display: flex;
    justify-content: flex-end;
    align-items: center;
	margin-right: 20px;
    animation: 1s ease 0s 1 fadeIn;
    /* border: 1px solid rgba(0,0,0,.15);
    border-radius: 12px;
    background-color: white; */
}

.navbar__modal-button{
    color: var(--navLinkColor);
}

.navbar__aboutme,
.navbar__friends,
.navbar__messages,
.navbar__notifications{
    width: 40px;
    height: 40px;
    font-size: 110%;
    border-radius: 50%;
    cursor: pointer;
    margin: 0 5px;
    text-decoration: none;
    position: relative;
}

.navbar__icon{
    width: 100%;
    height: 100%;
    border-radius: inherit;
    font-size: inherit;
    background-color: var(--friendsListBackground);
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar__account{
    width: 40px;
    height: 40px;
    font-size: 120%;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 0 0 5px;
}